[submodule "plugins/yolov5"]
	path = plugins/yolov5
	url = https://github.com/AlexandruRO45/yolov5
[submodule "plugins/sdformat_urdf"]
	path = plugins/sdformat_urdf
	url = https://github.com/ros/sdformat_urdf
